body {
    background-image: url("img/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
  }

h1#title {
    color: rgb(255, 0, 242);
    text-align: center;
    font-size: 300%
}

h2#title-sub {
    color: rgb(0, 195, 255);
    text-align: center;
}

img.headerimg{
    height:150px;
    display: inline-block;
    margin: 0px auto;
    padding: 35px;
}

div#banner{
    border-style: dotted;
    border-color:rgb(0, 255, 0);
    height: 11%;
    margin-left: .5%;
    margin-right: .5%;
    margin-top: .5%;
}

div#sub-div-1{
    border-style: dotted;
    border-color:rgb(0, 255, 0);
    margin-left: .5%;
    margin-right: .5%;
    margin-top: .5%;
    z-index:1;
}

div#title-div{
    position: absolute;
    top: 100px;
    z-index: 1;
    height: 2000px;
    left: 25%;
    width: 50%;
    color: white;
    border: rgb(255, 0, 255) 5px solid;
    background: black;
}


/*div#title-div{
    position: absolute;
    top: 100px;
    z-index: 1;
    height: 1000px;
    left: 25%;
    width: 50%;
    color: white;
    border: rgb(255, 0, 255) 5px solid;
    background: black;
}*/